.container
  .row
    .col-md-12.offset-md-0
      .card
        .card-body
          .row
            .col-sm-4
              %h2.card-title= @quote.name
              %h6.card-subtitle.mb-2.text-muted= @quote.ticker

            .col-sm-4
              .flex
                %h5.uppercase.font-semibold
                  = @quote.price.format
                .text-xs.font-light.text-black-400.self-end.mb-1.ml-1 #{@quote.currency}

          %hr/
          .row
            .col-sm-4
              %p.card-text
                Open Price: #{@quote.open_price.format}
              %p.card-text
                Day's Range: #{@quote.day_range}
              %p.card-text
                52-Week H/L: #{@quote.week52_range}
            .col-sm-4
              %p.card-text
                Dividend Yield: #{@quote.dividend_yield}
              %p.card-text
                Stock P/E: #{@quote.pe_ratio}
              %p.card-text
                ROCE: #{@quote.roce}
            .col-sm-4
              %p.card-text
                Close Price: #{@quote.close_price.format}
              %p.card-text
                Volume: #{number_to_human @quote.volume}
              %p.card-text
                Market Cap: #{number_to_human @quote.market_cap}


= render partial: 'balance_sheet', locals: {quote: @quote}
= render partial: 'cash_flows', locals: {quote: @quote}
= render partial: 'income_statement', locals: {quote: @quote}

-# = render partial: 'profit_and_loss', locals: {quote: @quote}


