= render :partial => 'shared/resource_error', locals: {resource: @deal_image}

.col-md-12
  .row
    .col-md-5
      -if @deal_image.generated_image.present?
        =image_tag @deal_image.generated_image, class: 'image img-fluid'

    .col-md-7
      .row
        = form_with  model: @deal_image, scope: '', url: deal_images_update_path(deal: @deal_image.deal.id), method: :post, html: { class: "editor-form row gt-3 dropzone" , data: { page: 'main-editor' }, autocomplete: "off" } do |f|
          .col-md-12
            .input-group.mb-3
              %span.input-group-text Title
              = f.text_area :title, class: "form-control"
          .col-md-12
            .input-group.mb-3
              %span.input-group-text Tags
              = f.text_area :hash_tags, class: 'form-control', :rows => 2
          .col-md-12
            .row
              .col-md-4
                .input-group.mb-3
                  %span.input-group-text Code
                  = f.text_field :coupon, class: 'form-control'
              .col-md-7
                .input-group.mb-3
                  %span.input-group-text Extra
                  = f.text_area :extra, class: 'form-control', :rows => 2
          .col-md-12
            .row
              .col-md-4
                %ul{class: 'list-unstyled'}
                  %li
                    .form-check
                      = f.check_box :image_full_with
                      = f.label :image_full_with, class: 'form-check-label'
                  %li
                    .form-check
                      = f.check_box :store_background
                      = f.label :store_background, class: 'form-check-label'
                  %li
                    .form-check
                      = f.check_box :hide_discount
                      = f.label :hide_discount, class: 'form-check-label'
                  %li
                    .form-check
                      = f.check_box :hide_coupon
                      = f.label :hide_coupon, class: 'form-check-label'
                  %li
                    .form-check
                      = f.check_box :sub_as_tag
                      = f.label :sub_as_tag, class: 'form-check-label'
                  %li
                    .form-check
                      = f.check_box :title_auto_break
                      = f.label :title_auto_break, class: 'form-check-label'
                  %li
                    .form-check
                      = f.check_box :hide_store
                      = f.label :hide_store, class: 'form-check-label'

                      

                      
                      
              .col
                .row
                  .col
                    .form-group 
                      =f.label :type
                      =f.select :type, DealImage::AVAILABLE_TYPES, prompt: 'Select Type', class: 'form-control' 

                  .col
                    .form-group 
                      =f.label :theme
                      =f.select :theme, DealImage::THEMES, prompt: 'Select Theme', class: 'form-control'
                 

                .row.mt-3
                  .col
                    .input-group.mb-3
                      %span.input-group-text Enlarge
                      = f.number_field :enlarge_image_by, class: 'form-control'
                  .col
                    .input-group.mb-3
                      %span.input-group-text Enlarge Logo
                      = f.number_field :enlarge_logo_by, class: 'form-control'
                .row.mt-3
                  .col
                    .input-group.mb-3
                      %span.input-group-text Img Offset
                      = f.number_field :image_offset, class: 'form-control'
                  .col
                    .input-group.mb-3
                      %span.input-group-text Enlarge Logo
                      -# = f.number_field :enlarge_logo_by, class: 'form-control'
                .row
                  .col
                    .input-group.mb-3
                      %span.input-group-text Sub
                      = f.text_area :subheading, class: 'form-control'

          .col-md-12
            .row
              -if @deal_image.deal.present? && @deal_image.deal.url?
                =link_to 'Deal link', @deal_image.deal.affiliate_url, target: '_blank'

        
          .col-md-12.mt-3
            .actions
              = f.submit 'Generate', class: 'btn btn-success'
              = f.submit "Reset", type: :reset, class: 'btn btn-secondary'

              = button_tag type: :submit, class: 'btn btn-primary me-1', name: 'post_to_telegram' do
                Post to 
                %i{class: "bi-telegram"}

              = button_tag type: :submit, class: 'btn btn-primary me-1', name: 'post_to_insta' do
                Post to 
                %i{class: "bi-instagram"}

              = link_to 'Goto Deal', @deal_image.deal, class: 'btn btn-primary'
              = link_to 'Auth with FB', '/auth/facebook', class: 'btn btn-primary', target: '_blank'
              = link_to 'New Deal', new_deal_path, class: 'btn btn-primary'


