%div
  %h1 Listing deals

  -if is_admin?
    = link_to 'New Deal', new_deal_path

  .container
    .row
      - @deals.each do |deal|
        .col-md-3
          = render partial: 'deals/deal', locals: { deal: deal }
        .col-md-3
          = render partial: 'deals/deal', locals: { deal: deal }
        .col-md-3
          = render partial: 'deals/deal', locals: { deal: deal }
        .col-md-3
          = render partial: 'deals/deal', locals: { deal: deal }
        
