.card.card-body.mt-3{data: {id: link.id}}
  = form_for link do |f|
    .col-md-12
      .row
        .col-md-2
          =render partial: 'shared/dropzone_image', locals: { image: link.image, f: f, class: 'dropbox-small'}
          
        .col-md-10
          .row
            .col-md-12
              .input-group.mb-3
                %span.input-group-text URL
                = f.text_field :url, class: "form-control", placeholder: "Url"
    
            .col-md-10
              .input-group.mb-3
                %span.input-group-text Label
                = f.text_field :label, class: "form-control", placeholder: "Label"

            .col-12.mt-2
              .row
                .col-md-2
                  .form-check
                    = f.check_box :enabled
                    = f.label :enabled, class: 'form-check-label'
              
                .col-md-2
                  .form-check
                    = f.check_box :pinned
                    = f.label :pinned, class: 'form-check-label'

    .actions
      = button_tag type: :submit, class: '', title: "Update" do
        %i{class: 'bi bi-cloud-arrow-up-fill'}

      -# =link_to link, method: :delete, data: { confirm: 'Are you sure?' } do
      -#   %i{class: 'bi bi-trash3'}

      = button_tag method: :destroy, class: '', title: "Delete" do
        %i{class: 'bi bi-trash3'}

