-# = render partial: 'nav', locals: { }


#main.site__main
  .site__header.site__header--has-profile-image
    = render partial: 'bio', locals: { }

  .site-social.site-social--top
    =render partial: 'shared/social_follow'

  .search.text-center
    =form_tag '', method: :get, class: "inline-form search-form" do |f|
      = text_field_tag :q, params[:q], placeholder: 'Search', type: 'search', class: ''
      = image_submit_tag image_path('/assets/search.svg'), class: 'submit-button submit-button', name: ''
    

  .site__links
    .link-wrapper.link-wrapper--pb
      - if @pinned.any?
        .site-links-title
          Pinned
        .mt-3.pt-2{bis_skin_checked: "1"}
          = render @pinned

      #links-container.mt-3.pt-2{bis_skin_checked: "1"}
        .site-links-title
          Recent
        = render @links

        -if @links.empty?
          .notification
            No Deals found

      != pagy_nav(@pagy) if @pagy.pages > 1 


:javascript
  function toggle() {
  var el = document.getElementById("style1");
  if (el.href.match("assets/css/colors/light-mode.css")) {
      el.href = "assets/css/colors/dark-mode.css";    
  }
  else {
      el.href = "assets/css/colors/light-mode.css";  
      }
  }
        
