- if is_admin?
  .deal-actions
    = link_to 'Edit', edit_deal_path(@deal), class: 'btn btn-success'
    -# = link_to 'Create Social media post', new_social_media_post_path(deal: @deal.id), class: 'btn btn-primary'

    = link_to 'Add more images', add_images_deal_path(deal: @deal.id), class: 'btn btn-primary'
    
    = link_to 'Generate Image', deal_images_update_path(deal: @deal.id), class: 'btn btn-info'

    -if @deal.generated_flyer_images.attached?
      = link_to 'Generate Video', deal_videos_path(@deal.id), class: 'btn btn-secondary'

    -if @deal.secondary_images.attached?
      = link_to 'Flyer Images', deal_flyer_images_path(@deal.id), class: 'btn btn-info'

    = link_to 'Schedule', deal_recurring_schedules_path(@deal.id), class: 'btn btn-primary'
    

    -if @deal.store.dollarama?
      = link_to 'Generate Images', deal_flyer_images_path(@deal.id), class: 'btn btn-info'
    = form_with(url: create_link_deal_path(@deal), method: :post, class: 'd-inline') do |f|
      = f.submit 'Create Link', class: 'btn btn-primary'

    = form_with(url: post_to_telegram_deal_path(@deal.id), method: :post, class: 'd-inline ms-1') do |f|
      = button_tag type: :submit, class: 'btn btn-primary' do
        Post to 
        %i{class: "bi-telegram"}      

    = form_with(url: post_to_insta_deal_path(@deal.id), method: :post, class: 'd-inline ms-2') do |f|
      = button_tag type: :submit, class: 'btn btn-primary' do
        Post to 
        %i{class: "bi-instagram"}

    -unless @deal.expired?
      = button_to 'Expire', expire_deal_path(@deal), method: :patch, class: 'btn btn-warning inline-block'

    -if @deal.expired?
      = button_to 'Renew', renew_deal_path(@deal), method: :patch, class: 'btn btn-warning inline-block'
    = button_to 'Delete', @deal, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger'

    = link_to 'Back', deals_path, class: 'btn btn-secondary'
