%p#notice= notice

.container
  .row
    .col-lg-8
      %h1= @deal.title
      -if @deal.image.representable?
        = image_tag @deal.image.representation(resize_to_limit: [300, 300]).processed.url, class: 'img-fluid mb-4', alt: @deal.title
      %p= @deal.body
    .col-lg-4
      .card
        .card-body
          %h5.card-title Deal Details
          %p.card-text
            Price: $#{@deal.price}
          %p.card-text
            Retail Price: $#{@deal.retail_price}
          %p.card-text
            Discount: #{@deal.discount_percentage}%
          %a.btn.btn-success{href: "#{@deal.store.website}"} Buy Now

- if is_admin?
  = link_to 'Edit', edit_deal_path(@deal)
  = link_to 'Delete', @deal, method: :delete, data: { confirm: 'Are you sure?' }
  = link_to 'Back', deals_path
