
.container
  .row
    .col-md-9
      .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-9.shadow-sm.h-md-250.position-relative
        .col.d-flex.flex-column.position-static
          .card.deal-details
            .row.g-0
              .col-md-3
                .row
                  .col-12
                  = resource_image(@deal.image, class: 'deal-image rounded-start', alt: @deal.title)
                .row.text-center.mt-3
                  .col-12
                    -# -if @deal.affiliate_url.present?
                    =link_to 'Buy Now', @deal.affiliate_url, class: 'btn btn-success', target: '_blank'
                  .ss.mt-1
                    %small.text-muted
                      about
                      =time_ago(@deal.updated_at)
                  .deal-actions.mt-2
                    Good deal?
                    =link_to '#', target: '_blank' do
                      %i.bi.bi-hand-thumbs-up
                    =link_to '#', target: '_blank' do
                      %i.bi.bi-hand-thumbs-down
                  .deal-tags
                    =render partial: 'tags/tags_list', locals: {tags: @deal.tags}
                  .follow
                    Follow Us.
                    =render partial: 'shared/social_follow', locals: {url: deal_url(@deal), title: @deal.title}
              .col-md-9
                .float-right
                  =render partial: 'shared/social_share', locals: {url: deal_url(@deal), title: @deal.title}

                .card-body
                  %h5.card-title
                    = title @deal.title
                  
                  .row
                    %p.card-text
                      - if @deal.price?
                        .deal-price
                          = display_money(@deal.price)
                      - if @deal.retail_price?
                        .original-price
                          = display_money(@deal.retail_price)
                      .deal-store
                        =link_to store_path(@deal.store) do
                          =resource_image(@deal.store.image, class: 'img-fluid store-image', alt: @deal.store_name)

                      -if @deal.coupon
                        .deal-coupon
                          =render partial: 'coupon', locals: {coupon: @deal.coupon}
                 
                  .row
                    =@deal.body
          .row
            .card

        

- if is_admin?
  .deal-actions
    = link_to 'Edit', edit_deal_path(@deal), class: 'btn btn-primary'
    = link_to 'Social media', new_social_media_post_path(deal: @deal), class: 'btn btn-primary'
    = button_to 'Expire', expire_deal_path(@deal), method: :patch, class: 'btn btn-warning inline-block'
    = link_to 'Delete', @deal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
    = link_to 'Generate Image', deal_images_update_path(deal: @deal), class: 'btn btn-primary'
    = link_to 'Back', deals_path, class: 'btn btn-primary'
