
.container{data: {'deal-id': @deal.id}}
  .row
    .col-md-9
      .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-9.shadow-sm.h-md-250.position-relative
        .col.d-flex.flex-column.position-static
          .card.deal-details
            .row.g-0
              .col-md-3
                .row
                  .col-12.text-center.align-middle.d-flex.justify-content-center.align-items-center
                    = resource_image(@deal.image, class: 'deal-image rounded-start', alt: @deal.title)
                .row.text-center.mt-3
                  .col-12
                    -# -if @deal.affiliate_url.present?
                    =link_to 'Buy Now', @deal.affiliate_url, class: 'btn btn-success', target: '_blank'
                  .ss.mt-1
                    -if @deal.expired?
                      .deal-expired
                        Expired
                    -else
                      %small.text-muted
                        %i{class: "bi bi-clock" }
                        about
                        =time_ago(@deal.created_at)
                  .deal-actions.mt-2
                    Good deal?
                    =link_to '#', target: '_blank' do
                      %i.bi.bi-hand-thumbs-up
                    =link_to '#', target: '_blank' do
                      %i.bi.bi-hand-thumbs-down
                  .deal-tags
                    =render partial: 'tags/tags_list', locals: {tags: @deal.tags}
                  .follow
                    Follow Us.
                    =render partial: 'shared/social_follow', locals: {url: deal_url(@deal), title: @deal.title}
              .col-md-9
                .float-right
                  =render partial: 'shared/social_share', locals: {url: deal_url(@deal), title: @deal.title}

                .card-body
                  %h5.card-title
                    = title @deal.title
                  
                  .row
                    %p.card-text.d-flex.justify-content-center.align-items-center
                      .col.col-sm-2
                        - if @deal.price?
                          .deal-price
                            = display_money(@deal.price)
                      .col.original-price.col-sm-2
                        - if @deal.retail_price?
                          = display_money(@deal.retail_price)
                      .col.deal-store
                        =link_to store_path(@deal.store) do
                          =resource_image(@deal.store.image, class: 'img-fluid store-image', alt: @deal.store_name)

                      -if @deal.coupon?
                        .col.col-lg-4.deal-coupon
                          =render partial: 'coupon', locals: {coupon: @deal.coupon}
                 
                  .row
                    -if @deal.expired?
                      .alert.alert-danger{:role => "alert"}
                        Unfortunately this deal has expired.

                    =@deal.body

                    -if @deal.generated_flyer_images.attached?
                      -@deal.generated_flyer_images.each do |image|
                        .col-md-6.flyer-image
                          = image_tag attachment_url(image), class: 'border img-fluid'
                  
          .row
            .card
            =render partial: 'actions'

    .col
      =render partial: 'side_bar/side_bar', locals: {side_bar: @side_bar}

